body{
  min-height: 100%;
    margin: 0;
    padding: 0;
    height: 100%;
    background-image: url(BG.jpg);
    overflow-X: hidden;
    background-size: cover;
    background-attachment: fixed;
}

/* Menu */
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat',sans-serif;
}
nav{
  background: #151515;
  padding: 0.5px 20px;
}
nav ul{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
nav ul li{
  padding: 15px 0;
  cursor: pointer;
}
nav ul li.items{
  position: relative;
  width: auto;
  margin: 0 16px;
  text-align: center;
  order: 3;
}
nav ul li.items:after{
  position: absolute;
  content: '';
  left: 0;
  bottom: 5px;
  height: 2px;
  width: 100%;
  background: white;
  opacity: 0;
  transition: all 0.2s linear;
}
nav ul li.items:hover:after{
  opacity: 1;
  bottom: 8px;
}
nav ul li.logo{
  flex: 1;
  color: white;
  font-size: 23px;
  cursor: default;
}
nav ul li a{
  color: white;
  font-size: 18px;
  text-decoration: none;
  transition: .4s;
}
nav ul li:hover a{
  color: #f5965a;
}

/* Zone du milieu */
.mid{
  background-color: white;
  font-size: 18px;
  margin: 8% 10% 8% 10%;
  padding: 15px;
  box-shadow: 1px 0px 15px 3px rgba(0,0,0,0.75);
}
h1{
  color: black;
  font-size: 48px;
  text-decoration: underline #f5965a;
  text-underline-position: under;
  margin-left: 1%;
  margin-top: 5%;
}

/* Pied de page */
footer{
  background:black;
  height:70px;
  display: flex;
  opacity: 0.5;
}
.copy{
  font-size: 15px;
  color: white;
  text-align: center;
  margin-top: 25px;
  margin-left: 60%;
}
.ml{
  list-style: none;
  margin-top: 20px;
  margin-left: 25px;
  font-size: 18px;
}
a:link{
  text-decoration: none;
}